body {
    padding: 70px 40px 70px 40px;
    background-color: #674bb1;
    background-image: url('/img/bg-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;

    // meida queries for resoponsivie design 
    @media screen and (min-width: 1024px){
        background-image: url('/img/bg-desktop.svg');
        padding: 60px 80px 40px 80px;
    }

}

main {

    @media screen and (min-width: 1024px){
       display: grid;
       grid-template-columns: repeat(2, minmax(250px, 1fr)); // use repeat to fit the two cloumn in the same size
    }
    
}

.heroImage {

    @media screen and (min-width: 1024px) {
      
    }
    img {
        width: 100%;
    }

}

.heroText {
    @media screen and (min-width: 1024px) {
        padding-left: 60px;
    }
    
}